ion-title{
  text-align: center;
  margin-right: 55px;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.user-details{
  text-align: center;
}
.odd{
    color: white;
    background-color: rgb(135, 134, 135);
  }
  .even{
    color: rgb(255, 255, 255);
    background-color: rgb(180, 202, 197);
  }

  ion-col {
    border: 0.1px  rgb(194, 193, 193);
    text-align: center;
  }
  .username{
    margin-top: 15px;
  }
  .header{
    padding-bottom: 20px;
  }


// ion-col.my-left-column {

// }
