<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
		 <ion-back-button defaultHref="" ></ion-back-button>
  </ion-buttons>
    <ion-title>Admin-Class</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container" >

    <ion-grid>
      <ion-row *ngFor="let obj of retrievedclasses; let i = index;" [ngClass]="(i % 2 === 0) ? 'odd' : 'even'">
        <ion-col>
          <ion-list>

            <ion-item>

              <ion-label><div>{{obj.name}}</div>
              </ion-label>
              <ion-note slot="end"><ion-buttons >
                <ion-button (click)="presentActionSheet(obj.name)">
                  <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
                </ion-button>
                </ion-buttons></ion-note>
            </ion-item>



          </ion-list>
        </ion-col>

      <!--   <ion-col class="my-right-column">
          <div></div>
        </ion-col>
      </ion-row>

      <ion-row *ngFor="let obj of retrievedclasses; let i = index;" [ngClass]="(i % 2 === 0) ? 'odd' : 'even'">

        <ion-col>
          <div>{{obj.name}}</div>
        </ion-col>
        <ion-col class="my-right-column">
          <ion-buttons >
            <ion-button (click)="presentActionSheet(obj.name)">
              <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
            </ion-button>
            </ion-buttons>
        </ion-col>
 -->
      </ion-row>

    </ion-grid>

  </div>



</ion-content>

