
* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    // font-size: 1rem;
}

.parentcontent {
    height: 100%;
}
.container {
    height: 100%;
}

ion-item#catcontainer {
    height: 33% !important;
    justify-content: center;
    
}

.odd{
    color: white;
    background-color: rgb(135, 134, 135);
  }
  .even{
    color: rgb(255, 255, 255);
    background-color: rgb(180, 202, 197);
  }

  ion-col {
    border: 0.1px  rgb(194, 193, 193);
    text-align: center;
  }

ion-col.my-right-column {
    flex: 0 0 4px;
    padding: 0;
    margin-right: 0px;
}