<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Directiories</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container" no-padding>
    <div >
       <ion-item id="catcontainer"  >
         <ion-grid  item-content>
             <a routerLink="">
               <ion-row>
                 <div style="width: 100%; height: 180px;">
                   <p class="text-justify mytextbox" style="position: absolute; top: 30%; left: 50%; transform: translate(-50%, -50%)">Online classes</p>
                 </div> 
               </ion-row>
             </a>
         </ion-grid>
       </ion-item>
     </div>
 
     <div >
       <ion-item id="catcontainer"  >
         <ion-grid  item-content>
           <a routerLink="/">
             <ion-row>
               <div style="width: 100%; height: 180px;">
                 <p class="text-justify" style="position: absolute; top: 30%; left: 50%; transform: translate(-50%, -50%)">Text Books</p>
             </div> 
             </ion-row>
           </a>
         </ion-grid>
       </ion-item>
     </div>
 
     <div >
       <ion-item id="catcontainer"  >
         <ion-grid  item-content>
             <a routerLink="/">
               <ion-row>
                 <div style="width: 100%; height: 180px;">
                   <p class="text-justify" style="position: absolute; top: 30%; left: 50%; transform: translate(-50%, -50%)">School Events</p>
                 </div> 
               </ion-row>
             </a>
             </ion-grid>
         </ion-item>
       </div>
     </div>

  

</ion-content>