<ion-header class="ion-no-border">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Fiala</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div id="header">
    <h3>Login</h3>
    <img src="assets/Frontpage.jpg">
  </div>
 <div id="container" padding justify-content-center align-items-center style="height: 100%; width: 100%;">

  <form class="logpage" [formGroup]="loginform" role="form" (ngSubmit)="LoginUser()" >
    <ion-item class="loguser">
      <ion-icon name="person"></ion-icon><ion-input id="login-username" name='username' formControlName="username" type="text"  placeholder="Username" ion-margin-bottom></ion-input>
    </ion-item>

      <ion-item>
             <ion-icon name="lock-closed"></ion-icon>
             <ion-input id="login-password" formControlName="password" type="password" name="password" class="form-control" placeholder="Password"></ion-input>
    </ion-item>

    <div class="error-messages">
        <ng-container *ngFor="let error of error_messages.password">
          <div class="error-messages" *ngIf="loginform.get('password').hasError(error.type) && (loginform.get('password').dirty || loginform.get('password').touched)">
            {{error.message}}
          </div>
        </ng-container>
      </div>
    <ion-button id="loginbutton" (click)=LoginUser() [disabled]="!loginform.valid" shape="round" size="default" expand="block">Login</ion-button>
    <div class="form-group">
      <div class="col-md-12 control">
        <div style="border-top: 5px ; padding-left: 10px; padding-top:15px; font-size:85%" >
            Forgot Password?
        <a routerLink="/">
            Reset here
        </a>
        </div>
    </div>

    </div>
  </form>
</div>
</ion-content>

