

<ion-header [translucent]="true">
	<ion-toolbar>
	  <ion-buttons slot="start">
      <ion-back-button defaultHref=""   ion-button icon-only (click)="cancel()"></ion-back-button>
		<!-- <ion-back-button defaultHref="#" ></ion-back-button> -->
	  </ion-buttons>
	  <ion-title>Student Remark </ion-title>
	</ion-toolbar>
  </ion-header>

<ion-content>
  <ion-list padding>
      <!-- <ion-item>
          <ion-input type="text" placeholder="Remark" [(ngModel)]="user_remark.remark"></ion-input>
      </ion-item> -->

      <ion-item>
          <ion-textarea placeholder="Remark" [(ngModel)]="user_remark.remark" rows="3"></ion-textarea>
      </ion-item>






      <ion-button block icon-left (click)="saveremark()"  shape="round" size="default" expand="block" style="margin-top: 15px;">
          Save
        </ion-button>


  </ion-list>




</ion-content>













