<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Fiala</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="container" padding justify-content-center align-items-center style="height: 100%; width: 100%;">
    <form [formGroup]="registerForm" role="form" (ngSubmit)="registration()" #LoginForm="ngForm">

      <ion-item>
        <ion-input id="register-username" name='username' formControlName="username" type="text" class="form-control" placeholder="Username"></ion-input>
      </ion-item>

      <div class="error-messages">
        <ng-container *ngFor="let error of error_messages.username">
          <div class="error-messages" *ngIf="registerForm.get('username').hasError(error.type) && (registerForm.get('username').dirty || registerForm.get('username').touched)">
            {{error.message}}
          </div>
        </ng-container>
      </div>

      <!-- <ion-item>
        <ion-input id="register-email" name='email' formControlName="email" type="text" class="form-control" placeholder="Email"></ion-input>
      </ion-item> -->

      <!-- <div class="error-messages">
        <ng-container *ngFor="let error of error_messages.email">
          <div class="error-messages" *ngIf="registerForm.get('email').hasError(error.type) && (registerForm.get('email').dirty || registerForm.get('email').touched)">
            {{error.message}}
          </div>
        </ng-container>
      </div> -->


      <ion-item>

        <ion-input id="login-password" formControlName="password" type="password" name="password" class="form-control" placeholder="Password"></ion-input>
      </ion-item>

      <div class="error-messages">
          <ng-container *ngFor="let error of error_messages.password">
            <div class="error-messages" *ngIf="registerForm.get('password').hasError(error.type) && (registerForm.get('password').dirty || registerForm.get('password').touched)">
              {{error.message}}
            </div>
          </ng-container>
        </div>

        <ion-item>
            <ion-input id="login-password2" formControlName="password2" type="password" name="password2" class="form-control" placeholder="Password Confirmation"></ion-input>
          </ion-item>

          <div class="error-messages">
              <ng-container >
                <div class="error-messages" *ngIf="registerForm.value.password !== registerForm.value.password2 ">
                  Password Mismatch
                </div>
              </ng-container>
            </div>


            <ion-item>
              <ion-label>User Type</ion-label>
              <ion-select placeholder="Select One" formControlName="usertype">
                <ion-select-option value="Student">Student</ion-select-option>
                <ion-select-option value="Teacher">Teacher</ion-select-option>
                <ion-select-option value="ParentOrGuardian">Parent or Guardian</ion-select-option>
                <ion-select-option value="SchoolAdmin">School Admin</ion-select-option>
              </ion-select>
            </ion-item>



      <ion-button id="loginbutton" (click)=registration() [disabled]="!registerForm.valid" shape="round" size="default"  expand="block" style="margin-top: 20px;">Submit</ion-button>
      <div class="form-group">
          <div class="col-md-12 control">
              <div style="border-top: 1px ; padding-top:15px; padding-left: 20px; font-size:85%" >
                  Already have an account!
              <a routerLink="/login">
                  Login Here
              </a>
              </div>
          </div>
      </div>
    </form>
  </div>

</ion-content>
